/* SIGUE Todo un software administrativo */

position: absolute;
width: 821px;
height: 104px;
left: 39px;
top: 23px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
color: #000000;

/* login */

position: relative;
width: 1512px;
height: 1607px;

background: #FFFFFF;


/* fondo */

position: absolute;
width: 2016px;
height: 1804px;
left: -252px;
top: -130px;

background: #8692BB;


/* banner */

position: absolute;
width: 1512px;
height: 272px;
left: 0px;
top: 0px;

background: #D9D9D9;


/* fon2 */

position: absolute;
width: 1445px;
height: 587px;
left: 36px;
top: 345px;

background: #D9D9D9;


/* image 1 */

position: absolute;
width: 1445px;
height: 749px;
left: 36px;
top: 345px;

background: url(image);


/* user */

position: absolute;
width: 556px;
height: 77px;
left: 134px;
top: 491px;

background: #A3A0A0;
border-radius: 20px;


/* example@correo.com */

position: absolute;
width: 403px;
height: 44px;
left: 183px;
top: 507px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */

color: #645C5C;



/* password */

position: absolute;
width: 556px;
height: 77px;
left: 134px;
top: 621px;

background: #A3A0A0;
border-radius: 20px;


/* *********** */

position: absolute;
width: 216px;
height: 44px;
left: 183px;
top: 645px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */

color: #645C5C;



/* Boton ingresar */

position: absolute;
width: 278px;
height: 65px;
left: 273px;
top: 751px;

background: #A3A0A0;
border-radius: 62px;


/* Ingresar */

position: absolute;
width: 147px;
height: 44px;
left: 349px;
top: 760px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
/* identical to box height */

color: #645C5C;



/* Login */

position: absolute;
width: 152px;
height: 68px;
left: 142px;
top: 412px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;



/* SIGUE Todo un software administrativo */

position: absolute;
width: 821px;
height: 104px;
left: 39px;
top: 23px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;



/* Sistema administrativo de usuarios y empleados. */

position: absolute;
visibility: hidden;
width: 676px;
height: 234px;
left: 759px;
top: 465px;

font-family: 'Geneva';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 85px;
text-align: center;

color: #000000;



/* Remove red eye */

position: absolute;
width: 64px;
height: 63px;
left: 600px;
top: 629px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 18.75%;
bottom: 18.75%;

background: #645C5C;
